body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div#content {
  display: flex;
  background-position: center;
  background-size: contain;
  flex-grow: 1;
  width: 100vw;
}

.intro-container {
  display: flex;
  gap: 50px;
  padding: 30px 50px 30px 50px;
  background-color: rgba(26, 0, 4, 0.916);
  color: rgb(255, 238, 225);
  border: 5px double rgb(158, 158, 158);
  border-radius: 5px 20px;
  align-self: center;
  max-width: 50%;
  margin-left: 10%;
}

.intro-header {
  color: rgb(247, 208, 166);
}

.intro-robot {
  width: 25%;
}
